{% extends "base_generic.html" %}

{% block content %}

        <div class="container">
		<h1>{{ frage.name }}</h1>
		<h2>{{ frage.platz }}</h2>

        	<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center"></div>
			<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center">


					{% if voted %}
					<h7 style="color:red;"> انتخاب قبلی شما: </h7><br>
					{% for opt in voted %}
					<br>
					<p> {{ opt }} </p>
					{% endfor %}
					<a href="#"><h7 style="color:red;"> انتخاب قبلی حذف شود؟  </h7></a>
				<form class="form-signin" method="post" action="{% url 'detail' frage.id  %}">
				{% csrf_token %}
				<button class="btn btn-lg btn-danger btn-block" name="remove" value="remove" type="submit">حذف</button>
				</form>

					{% else %}
 				 <h2>از بین گزینه ها انتخاب کنید</h2>
 				 <form method="post" action="{% url 'detail' frage.id %}">
			 		{% csrf_token %}
			 		{% for k,v in dic.items %}
   						<div class="checkbox">
							<label class="checkbox-inline"> <input type="checkbox" name="checks" id={{ forloop.counter }} value="{{ k }}">  </label>
						<label for="{{ forloop.counter }}"> {{ k }} </label>
					{% endfor %}
					<br>
					<button class="btn btn-primary" type="submit">submit</button>
					<br>
   					</div>
 					</form>






			</div>
		<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center"></div>
		<div id="piechart"></div>

		</div>

		

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['options', 'votes'],
	  {% for k,v in dic.items%}
	  ["{{ k }}", {{ v }}],
	  {% endfor %}
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Options', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
		
	</div>
	{% endif %}
{% endblock %}

