*{
  margin: 0;
  padding: 0;
  padding-top: 0;
}
body{
  font-size: 15px;
  font-family: arial;
}
.navbar { margin-bottom:0px !important; }
.carousel-caption { margin-top:0px !important }

a {text-decoration: none;}
.container{

  width: 100%;
}

.navbar-custom{
  background: #0077aa;




}
.nav-bar{
  display: block;
  margin-bottom: 0 0;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);*/

  border-radius: 3px;
}
.nav-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}
.nav-bar li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #ff0000;
}
.nav-bar li a{
  padding: 15px 20px;
  font-size: 20px;
  color:#ffffff;
  display: inline-block;
  outline: 0;
  font-weight: 800;
}
.nav-bar li:hover a{
  background: #024967;
  color: #ffffff !important;

}

p,h1,h2,h3,h4,h5{
color: black;}

body, html {
     font-family: "Vazir" ;
    height: 100%;
}

.about {
	  background-color:#0077aa ;
    /* Half height */

}
.bg {
    /* The image used */
    background-image: url("../images/slide.jpg");

    /* Half height */


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



      /* Set the fixed height of the footer here */

      .footer {
	width:100%;
	left: 0;
        height: 50px;
    	text-align: center;
	/*position: fixed;
    	bottom: 0;*/
	background-color:#fff ;
      }

.btn-round{
border-radius: 17px;
}

.btn-primary {
color: #fff;
background-color: #167ee6;
border-color: #357ebd;
}



@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir.eot');
  src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir.woff') format('woff'),
       url('../fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir-Bold.eot');
  src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Bold.woff') format('woff'),
       url('../fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir-Light.eot');
  src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Light.woff') format('woff'),
       url('../fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}
